<div class="column">
    <h2>Applied</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Company</th>
        </tr>
      </thead>
      <%= render :partial => "application", :collection => @applied_applications %>
    </table>
</div>
