<div class="closed">    
  <div class="column">
      <h2>Closed</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company</th>
          </tr>
        </thead>
        <%= render :partial => "application", :collection => @closed_applications %>
      </table>
  </div>
</div>
