<div class="column">
  <h2>In Progress</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Company</th>
        </tr>
      </thead>
      <%= render :partial => "application", :collection => @in_progress_applications %>
    </table>
</div>
