<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="dboard_link"><a href="/dashboard">Dashboard</a></li>

          <li class="dboard_link"><%= link_to "Log out", logout_path, method: :delete %></li>
      </ul>
    </div>
  </div>
</nav>
