<div class="to_apply">
  <div class="column">
    <h2>To Apply</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Company</th>
          </tr>
        </thead>
        <%= render :partial => "application", :collection => @to_apply_applications %>
      </table>
  </div>
</div>
