%h1 Your Jobs Dashboard

#applications
  %h2 Applications

  = button_to "Create a New Application", new_application_path, :id => 'new_application', :class => "btn btn-default", :method => :get

  %table{:class => "table table-striped"}
    %thead
      %tr
        %th Company
        %th Status
        %th Steps
        %th Actions
    = render :partial => 'application', :collection => @applications
