
#applications
  = link_to "Create a New Application", new_application_path, :id => 'new_application'

  %h2 Applications

  %table{:class => "table table-striped"}
    %thead
      %tr
        %th Company
        %th Status
        %th Steps
        %th Actions
    = render :partial => 'application', :collection => @applications
