/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require formtastic-bootstrap
 *= require_tree .
 *= require_self

 */

 body {
   min-width: 520px;
 }
 .column {
   width: 170px;
   float: left;
   padding-bottom: 100px;
 }
 .portlet {
   margin: 0 1em 1em 0;
   padding: 0.3em;
 }
 .portlet-header {
   padding: 0.2em 0.3em;
   margin-bottom: 0.5em;
   position: relative;
 }
 .portlet-toggle {
   position: absolute;
   top: 50%;
   right: 0;
   margin-top: -8px;
 }
 .portlet-content {
   padding: 0.4em;
 }
 .portlet-placeholder {
   border: 1px dotted black;
   margin: 0 1em 1em 0;
   height: 50px;
 }
